﻿@using Blogat.Models.Topic;
@model TopicViewModel
@{
  ViewBag.Title = "Main dashboard";
  DateTime? LastPostDate = null;
  bool IsAdmin = User.IsInRole("Admin");
}
@section Breadcrumb
{
  <i class="fas fa-greater-than"></i>
  @Html.ActionLink(Model.TopicTitle, "Index", "Topic", new { TopicId = Model.TopicId }, null)
  <div class="header">
    @Model.TopicTitle
  </div>

}

@if (((Model?.Posts?.Count) ?? 0) > 0)
{
  foreach (var post in Model.Posts)
  {
	TimeSpan Difference = ((DateTime)(post.PostedAt)).Date -
		((DateTime)(LastPostDate ?? post.PostedAt)).Date;
	Html.RenderPartial("TimeSpanPartial", Difference.Duration());
	Html.RenderPartial("PostPartial", post);
	LastPostDate = post.PostedAt;
  }
}
else if (!IsAdmin)
{
  <div class="grid-x align-center-middle post-info">
    <div class="post-info-icon">
      <i class="fas fa-chalkboard-teacher"></i>
    </div>
    <div class="margin-horizontal-2 margin-vertical-3">
      This topic has currently no posts in it.
    </div>

  </div>
}

@if (IsAdmin)
{
  using (Html.BeginForm("Index", "Topic", FormMethod.Post, null))
  {
    @Html.HiddenFor(x => x.TopicId)
    <div class="blogat-panel">
      <label>
        New post:
        <input name="PostTitle" placeholder="Title" />
        <textarea name="PostContent" placeholder="Text"></textarea>
      </label>
      <input type="submit" value="Add" />
    </div>
  }
}
