﻿@model TimeSpan
@{
    string Text = null;
    if (Model >= TimeSpan.FromDays(2 * 365))
    {
        Text = Model.Days / 365 + " years difference";
    }
    else if (Model >= TimeSpan.FromDays(365))
    {
        Text = "1 year difference";
    }
    else if (Model >= TimeSpan.FromDays(2 * 30))
    {
        Text = Model.Days / 30 + " months difference";
    }

}
@if (Text != null)
{

    <div class="float-center text-center margin-top-2 margin-bottom-2 gray">
        <i class="fas fa-circle timespan-dot"></i><br>
        <i class="fas fa-circle timespan-dot"></i><br>
        <i class="fas fa-circle timespan-dot"></i><br>
        <div class="margin-vertical-1" style="font-size:22px">
            <b>
                @Text
            </b>
        </div>
        <i class="fas fa-circle timespan-dot"></i><br>
        <i class="fas fa-circle timespan-dot"></i><br>
        <i class="fas fa-circle timespan-dot"></i>
    </div>
}
