﻿@using Blogat.Models.Message
@model MessageModel
@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("Messages", "Index", "Message")
  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("Message", "Display", new { MessageId = Model.Id })

  <div class="header">
    Message
  </div>
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <div class="blogat-panel">
    @Model.Text
  </div>
</body>
</html>
