﻿@using Blogat.Models.Message
@model MessageViewModel
@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("Messages", "Index", new { }, null)

  <div class="header">
    Messages
  </div>
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <div class="blogat-panel">

    <buttom class="blogat-export-button" onclick="document.location = '@Url.Action("AllMessages","Export")'">
      <i class="fas fa-file-excel"></i>
      <span class="menu-text">Export .xls</span>
    </buttom>
    <table>
      <th>Name</th>
      <th>Email</th>
      <th>Tel</th>
      <th></th>
      <th>Submitted At</th>
      @foreach (var message in Model.Messages)
	  {

        <tr class="message" onclick="document.location = '@Url.Action("Display", "Message", new { MessageId = message.Id})'">
          <td>@message.Name</td>
          <td>@message.Email</td>
          <td>@message.Tel</td>
          <td>@message.Text</td>
          <td>@message.SubmittedAt</td>
        </tr>
	  }
    </table>
  </div>
</body>
</html>
