﻿@using Blogat.Models.Dashboard;
@using Common.Security;
@model EditTopicViewModel
@{
  BlogatIdentity User = HttpContext.Current.User.Identity as BlogatIdentity;
}
@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("Edit", "Edit", "Dashboard", new { TopicId = Model.Topic.TopicId })

  <div class="header">
    @Model.Topic.Title
  </div>
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>
    @Model.Topic.Title
  </title>
</head>
<body>
  @using (Html.BeginForm("Edit", "Dashboard", new { TopicId = Model.Topic.TopicId }, FormMethod.Post, new { onSubmit = "return onTopicSubmit();" }))
  {
    <div class="blogat-panel">
      <div class="topic-head">Edit topic</div>
      <label>
        <label for="Title">Title</label>
        <input type="text" name="Title" value="@Model.Topic.Title" />
      </label>
      <div id="tag-list">
        @foreach (var tag in Model.Topic.Tags)
		{
          <div class="tag">
            <i class="fas fa-times tag-x"></i>
            <span class="tag-text">
              @tag
            </span>
          </div>
		}
      </div>
      Type in tags, separated by commas.
      @Html.Hidden("Tags", null, new { id = "tags-hidden" })
      @Html.HiddenFor(x => x.Topic.TopicId, new { id = "tags-hidden" })
      <label>
        <input type="text" class="tag-input" />
      </label>
      <input type="submit" value="Save" />
    </div>
  }
  <div id="all-tags" class="hide">@Model.AllTags</div>



</body>
</html>
