﻿@using Blogat.Models.Dashboard;
@using Common.Enums;
@using System.Globalization;
@model DashboardViewModel
@{
  ViewBag.Title = "Main dashboard";
  bool IsAdmin = User.IsInRole("Admin");
}
@section Breadcrumb{
  <i class="fas fa-greater-than"></i>
  <div class="header">
    Dashboard
  </div>
}
<div id="urls" 
	 data-rate-url="@Url.Action("Rate","Dashboard")" 
	 data-get-ratings-url="@Url.Action("GetRatings","Dashboard")"
	 data-login-url="@Url.Action("Login","Account")">

</div>
@foreach (var topic in Model.Topics)
{
  double ratingValue = topic.Rating.HasValue ? topic.Rating.Value : 0;

  <div class="blogat-panel overflow-hidden @(topic.Status == TopicStatus.Active ? "" : "grayscale-filter" )">

    @if (IsAdmin)
	{
      <button type="button" class="blogat-edit-button" onclick="document.location = '@Url.Action("Edit","Dashboard",new { TopicId = topic.TopicId})'">Edit</button>
      <button type="button" class="blogat-delete-button" onclick="document.location = '@Url.Action("ToggleStatus","Dashboard",new { TopicId = topic.TopicId})'" title="@(topic.Status == TopicStatus.Active ? "Archive" : "Unarchive" )">
        <i class="far fa-eye@(topic.Status == TopicStatus.Active ? "-slash" : "" )"></i>
      </button>
	}
    <div class="display-block">
      <div class="display-inline-block  padding-right-1">
        <div class="topic-head">Latest Activity </div>
        <div>
          @topic.LeatestActivity
        </div>
      </div>
      <div class="display-inline-block">
        <div class="topic-head">Title</div>
        <div>
          <a href="@Url.Action("Index","Topic", new { TopicId = topic.TopicId})">@topic.Title</a>
        </div>
      </div>
      <div class="display-inline-block float-right">
        <div class="topic-head text-right">Rating</div>
        <div class="topic-rating" data-topic-id="@topic.TopicId">
          <img src="@Url.Content("~/Content/loader2.svg")" class="loader hide">
          <div class="topic-rating-star">
            <i class="fa@(ratingValue >= 0.5 ? "s" : "r") fa-star@(ratingValue >= 0.5 && ratingValue < 1 ? "-half-alt" : "")"></i>
          </div>
          <div class="topic-rating-star">
            <i class="fa@(ratingValue >= 1.5 ? "s" : "r") fa-star@(ratingValue >= 1.5 && ratingValue < 2 ? "-half-alt" : "")"></i>
          </div>
          <div class="topic-rating-star">
            <i class="fa@(ratingValue >= 2.5 ? "s" : "r") fa-star@(ratingValue >= 2.5 && ratingValue < 3 ? "-half-alt" : "")"></i>
          </div>
          <div class="topic-rating-star">
            <i class="fa@(ratingValue >= 3.5 ? "s" : "r") fa-star@(ratingValue >= 3.5 && ratingValue < 4 ? "-half-alt" : "")"></i>
          </div>
          <div class="topic-rating-star">
            <i class="fa@(ratingValue >= 4.5 ? "s" : "r") fa-star@(ratingValue >= 4.5 && ratingValue < 5 ? "-half-alt" : "")"></i>
          </div>
          <span class="rating-value">
            @(ratingValue.ToString("0.0", CultureInfo.InvariantCulture))
          </span>
        </div>
      </div>
    </div>
    <div>
      @if (topic.Tags.Count() > 0)
	  {
        <span class="topic-head">Tags:</span>
		foreach (var tag in topic.Tags)
		{
          <div class="tag"><span class="tag-text"><i class="fas fa-hashtag"></i>@tag</span></div>
		}
	  }
    </div>
  </div>

}

<div class="blogat-pagination">
  <div class="blogat-pagination-previous">
    @if (Model.Pagination.CurrentPage > 1)
	{
	  int prevPage = Model.Pagination.CurrentPage - 1;
      @Html.ActionLink("prev", "Index", new { PageNo = prevPage })
	}
	else
	{
      <span class="blogat-pagination-disabled" title="Not available">prev</span>
	}
  </div>
  <div class="blogat-pagination-current">
    @Model.Pagination.CurrentPage
  </div>
  <div class="blogat-pagination-next">
    @if (Model.Pagination.LastPage > Model.Pagination.CurrentPage)
	{
	  int nextPage = Model.Pagination.CurrentPage + 1;
      @Html.ActionLink("next", "Index", new { PageNo = nextPage })
	}
	else
	{
      <span class="blogat-pagination-disabled" title="Not available">next</span>
	}
  </div>
</div>
@if (IsAdmin)
{
  using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { onSubmit = "return onTopicSubmit();" }))
  {
    <div class="blogat-panel">
      <div class="topic-head">New topic</div>
      <label>
        <label for="Title">Title</label>
        <input type="text" name="Title" />
      </label>
      <div id="tag-list"></div>
      Type in tags, separated by commas.
      @Html.Hidden("Tags", null, new { id = "tags-hidden" })
      <label>
        <input type="text" class="tag-input" />
      </label>

      <input type="submit" value="Submit" />
    </div>
  }
  <div id="all-tags" class="hide">@Model.AllTags</div>
}




