﻿@using Blogat.Models.About;
@using Common.Security;
@model AboutModel
@{
  BlogatIdentity User = HttpContext.Current.User.Identity as BlogatIdentity;
}
@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("About Me", "Index", "About", null)

  <div class="header">
    About Me
  </div>
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>About</title>
</head>
<body>
  <div class="blogat-panel">


    @using (Html.BeginForm("Edit", "About", FormMethod.Post, null))
	{

      <label>
        @Html.LabelFor(x => x.Text)
        @Html.TextAreaFor(x => x.Text)
      </label>
      <input type="submit" value="Save" />
	}
  </div>

</body>
</html>
