﻿@using Blogat.Models.About
@model AboutModel
@{
  bool IsAdmin = HttpContext.Current.User.IsInRole("Admin");
}
@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("About", "Index", "About", null)

  <div class="header">
    About Me
  </div>
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <div class="blogat-panel">
    @if (IsAdmin)
	{
      <button type="button" class="blogat-edit-button" onclick="document.location = '@Url.Action("Edit","About")'">Edit</button>
	}
    @Model.Text
  </div>
</body>
</html>
