﻿@using Blogat.Models.Post;
@using Common.Security;
@model PostViewModel
@{
  BlogatIdentity User = HttpContext.Current.User.Identity as BlogatIdentity;
}
@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink(Model.TopicTitle, "Index", "Topic", new { TopicId = Model.TopicId }, null)
  <i class="fas fa-greater-than"></i>
  @Html.ActionLink(Model.Post.Title, "Index", "Topic", new { TopicId = Model.Post.PostId }, null)
  <div class="header">
    @Model.Post.Title
  </div>

}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>About</title>
</head>
<body>
  <div class="blogat-panel">


    @using (Html.BeginForm("Edit", "Post", FormMethod.Post, null))
	{

      <label>
        @Html.LabelFor(x => x.Post.Title)
        @Html.TextBoxFor(x => x.Post.Title)
      </label>

      <label>
        @Html.LabelFor(x => x.Post.Content)
        @Html.TextAreaFor(x => x.Post.Content)
      </label>
      <input type="submit" value="Save" />
	}
  </div>

</body>
</html>
