﻿@using Blogat.Models.Post;
@model PostViewModel
@{
  ViewBag.Title = "Blogat - " + Model.Post.Title;
}

@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink(Model.TopicTitle, "Index", "Topic", new { TopicId = Model.TopicId }, null)
  <i class="fas fa-greater-than"></i>
  @Html.ActionLink(Model.Post.Title, "Index", "Topic", new { TopicId = Model.Post.PostId }, null)
  <div class="header">
    @Model.Post.Title
  </div>

}

<div>
  @{Html.RenderPartial("PostPartial", Model.Post);}
</div>
