﻿@using Blogat.Models.Contact;
@model ContactModel

<!DOCTYPE html>

@section Breadcrumb
{

  <i class="fas fa-greater-than"></i>
  @Html.ActionLink("Contact", "Index", "Contact", null, null)
  <div class="header">
    Contact Us
  </div>
}
@{
  ;
}
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Contact</title>
</head>
<body>
  <div class="blogat-panel">


    @using (Html.BeginForm("Index", "Contact", FormMethod.Post, null))
	{
	  if (!User.Identity.IsAuthenticated)
	  {

        <label>
          @Html.LabelFor(x => x.Email)
          @Html.TextBoxFor(x => x.Email)
        </label>
        <label>
          @Html.LabelFor(x => x.Tel)
          @Html.TextBoxFor(x => x.Tel)
        </label>
        <label>
          @Html.LabelFor(x => x.Name)
          @Html.TextBoxFor(x => x.Name)
        </label>
	  }
      <label>
        @Html.LabelFor(x => x.Message)
        @Html.TextAreaFor(x => x.Message)
      </label>
      <input type="text" class="hide" value="1" />
      <input type="submit" value="Send" />
	}
  </div>
</body>
</html>
