﻿body {
  font-size: 14px;
  font-family: Tahoma;
  font-weight: bold;
  text-align: center;
  background-color: whitesmoke;
  color: #666666;
}
.error-container 
{
}
td
{
  text-align:left;
  padding:0px 10px;
}
.error-pikachu 
{
  margin:0 auto 0 auto;
  max-width: 800px;
  height: 600px;
  background-image: url("surprisedPikachu.svg");
  background-size: 80% auto;
  background-position:left top;
  background-repeat: no-repeat;
}