﻿body {
background-color: whitesmoke;
background-image: url("background.png");
background-size:auto;
}
body, .blogat-edit-button {
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
}
body,.blogat-container{
	min-height:100vh;
	bottom:0;
	margin-bottom:0;
}
label, textarea, input 
{
	font-weight: bold;
}

textarea,input
{
    font-family: Verdana;
    margin: 5px 0 5px 0;
    resize: none;
    border: 1px solid gray;
    opacity:0.5;
    color:orangered;
}
table, tr, td, tbody 
{
background-color: transparent !important;
border: 0px solid !important;
}
th 
{
	text-align: left;
	border-bottom: 2px solid white;
}
textarea 
{
	height: 200px !important;
}

a:any-link
{
	color: white;
}
a:hover
{
	opacity:0.9;
}

input[type=submit],label
{
    border:none;
    background-color:transparent;
    color:white;
    cursor:pointer;
}

.account-content 
{
	max-width: 700px;
	margin:0 auto;
}

#logo {
	cursor: pointer;
	font-size: 6em;
	color: darkgray;
	font-weight: 100;
}

#at {
	border-bottom: 6px dotted darkorange;
	color: darkorange;
}

.menu-item 
{
  border-left: 0px solid transparent;
  position: relative;
  transition: 0.3s;
}
.menu-item:hover 
{
	border-left: 7px solid transparent;
}
.menu-item-inner 
{
    padding: 10px 0 10px 10px;
    text-align: left;
}
.menu-text
{
    margin-left:10px;
}

.corner-dr 
{
    right: 0px;
    bottom: 0px;
}

.corner-ul
{
    top: 0px;
    left: 0px;
}
.blogat-container,footer {
	background-image: linear-gradient(to right,transparent, whitesmoke,whitesmoke,whitesmoke, transparent);

}
footer
{
  padding: 15px;
  text-align:center;
  font-size:12px;
  color: #aaaaaa;
}
.blogat-edit-button,.blogat-delete-button,.blogat-export-button {
	opacity: 0.5;
	position: absolute;
	color: darkorange;
	transition: color 0.3s;
}
.blogat-edit-button {
	top: 2px;
	left: 2px;
}
.blogat-delete-button {
	top: 2px;
	right: 2px;
}
.blogat-export-button 
{
	bottom: 2px;
	left: 5px;
}
.loader {
width: 14px;
}

.blogat-panel {
	position: relative;
	cursor: default;
	padding: 20px;
	color: white;
	background: darkorange url("panel-corner.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
	margin-bottom: 20px;
	-webkit-transition: background-color 0.3s; /* For Safari 3.1 to 6.0 */
	transition: background-color 0.3s;
}

.blogat-panel:hover
{
	background-color: #ff7700;
}
.blogat-panel:hover .blogat-delete-button,
.blogat-panel:hover .blogat-edit-button,
.blogat-panel:hover .blogat-export-button
{
color: white;
opacity: 0.7;
}


.blogat-panel-heading 
{
	border-bottom: 2px solid white;
	padding: 0px 0px 10px 10px;
	margin-bottom: 10px;
}

.blogat-panel-text 
{
    margin-left: 10px;
}

.comments-container table,
.comments-container tr,
.comments-container td,
.comments-container tbody 
{
	border: 0px solid !important;
}

.comments-container 
{
    margin-top: 10px;
    padding: 0 10px 0px 10px;
}

.comments-descriptor 
{
    cursor: pointer;
    opacity: 0.5;
    margin-left:10px;
}

.comments-descriptor:hover 
{
    opacity: 0.7;
}

.comments-list 
{
    font-size: 12px;
    display: none;
}

.comment-container
{
    border-left: 2px solid white;
    margin: 7px 0 7px 0;
    padding: 8px;
}
.comment-header 
{
    opacity: 0.5;
    margin-bottom: 5px;
}

.comment-date 
{
    float: right;
}

.comment-text 
{
    display: inline-block;
    margin-left: 10px;
}
.comment-auth-info {
	font-size: 14px;
	display: inline-block;
}
.comment-auth-info > a
{
	opacity:0.8;
	text-decoration:underline
}

.comment-auth-info:hover 
{
}
.comment-auth-info-icon
{
	font-size:30px;
	display:inline-block;
}
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.breadcrumb, .breadcrumb a
{
	color: darkorange;
	font-size:18px;
	font-weight:bold;
}

.header 
{
	margin-top:20px;
	text-align: center;
	font-size: 26px;
}


.post-date 
{
	display: inline-block;
	float: right;
	padding-right:10px;
}

.post-info-icon
{
	font-size: 50px;
}

.post-info 
{
	color: darkgray;
	align-self:center;
}
.topic-data, .topic-rating-star{
display: inline-block;
}

.topic-head
{
	opacity:0.6;
}

.topic-rating-star,
.blogat-edit-button,
.blogat-delete-button,
.blogat-export-button
{
cursor: pointer;
}
.message 
{
	opacity: 0.7;
}
.message:hover
{
	opacity:1;
	cursor:pointer;
}
.timespan-dot 
{
	cursor: default;
	font-size: 12px;
}
.tag {
	background-color: rgba(255, 188, 0, 0.51);
	border-radius: 10px;
	padding: 3px 12px 3px 4px;
	margin: 0px 2px 0px 2px;
	display: inline-block;
	font-size: 11px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}
.tag-text
{
	margin-left:5px;
}

.tag-x {
border-radius: 11px;
padding: 3px 4px 2px 4px;
background-color: orange;
cursor: pointer;
}

.blogat-pagination, .blogat-pagination a, .blogat-pagination > span
{
	text-align: center;
	font-weight: bold;
}

.blogat-pagination
{
	margin: 10px 0px;
}
.blogat-pagination-current 
{
	color: whitesmoke;
	padding: 5px 10px;
	margin: 0 5px;
	background-color: orange;
}

.blogat-pagination-current
{
	padding: 5px 10px;
	display: inline-block;
}

.blogat-pagination-next a, .blogat-pagination-previous a 
{
    color: darkorange;
}
.blogat-pagination-next, .blogat-pagination-previous 
{
	padding: 5px;
	color: lightslategray;
	display: inline-block;
}

.blogat-pagination-disabled
{
	cursor: not-allowed;
}

.captcha
{
	margin-bottom:10px;
}