﻿@model Blogat.Models.Account.ChangePasswordViewModel
@using Common.Helpers;
@{
  ViewBag.Title = "Change password";
  Layout = "~/Views/Shared/AccountLayout.cshtml";
  int MinChars = PasswordHelper.PasswordPolicyMinChars;
  int MaxChars = PasswordHelper.PasswordPolicyMaxChars;
  MvcHtmlString ValSummary = Html.ValidationSummary();
}
<div class="maincontent">
  <div class="form-wrapper">
    <h2>Zmiana hasła</h2>
    Nowe hasło musi spełniać następujące kryteria:<br /><br />
    <ul>
      <li>musi składać się min. @MinChars i max. @MaxChars znaków.</li>
      <li>musi składać się z przynajmniej jednej litery</li>
      <li>musi posiadać przynajmniej jedną cyfrę.</li>
      <li>nie może być loginem</li>
      <li>nie może posiadać spacji</li>
      <li>nie może posiadać dwóch tych samych znaków obok siebie.</li>
      <li>nie może zaczynać się znakiem szczególnym ($, %, !, etc.)</li>
    </ul>

    @Html.AntiForgeryToken()
    @if (Request.HttpMethod == "POST")
    {
      if (ViewData.ModelState.IsValid)
      {
        <div class="callout success text-left">
          Hasło zostało pomyślnie zmienione.
        </div>
      }
      else
      {
        <div class="callout alert text-left">
          @ValSummary
        </div>

      }
    }

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
      @Html.HiddenFor(m => m.Guid);

      @Html.AntiForgeryToken()
      <div>
        @Html.PasswordFor(u => u.NewPassword, new { required = "required", placeholder = "Nowe hasło" })
      </div>
      <div>
        @Html.PasswordFor(u => u.ConfirmNewPassword, new { required = "required", placeholder = "Potwierdź nowe hasło" })
      </div>
      <div class="btn-panel">
        <button class="button small" type="submit">Zmień hasło</button>
        <button class="button secondary small" type="button" onclick="location.href='@Url.Action( "Index", "Home" )'">Wróć</button>
      </div>
    }
  </div>
</div>


