﻿@model Blogat.Models.Account.ForgotPasswordViewModel
@using Common.Helpers;
@{
  ViewBag.Title = "Problem z logowaniem";
  Layout = "~/Views/Shared/AccountLayout.cshtml";
  int MinChars = PasswordHelper.PasswordPolicyMinChars;
  int MaxChars = PasswordHelper.PasswordPolicyMaxChars;
  MvcHtmlString ValSummary = Html.ValidationSummary();
}

<div class="maincontent">
  <div class="form-wrapper">
    <h4 class="sub-title">Problemy z zalogowaniem?</h4>
    <ul>
      <li>Upewnij się, że podajesz poprawną nazwę użytkownika.</li>
      <li>Wielkość liter ma znaczenie, więc sprawdź czy capslock nie jest włączony.</li>
    </ul>
    <p class="top10"> Pamiętaj, że podane hasło musi spełniać następnujące wymagania:</p>
    <div>
      <ul>
        <li>musi składać się min. @MinChars i max. @MaxChars znaków.</li>
        <li>musi składać się z przynajmniej jednej litery</li>
        <li>musi posiadać przynajmniej jedną cyfrę.</li>
        <li>nie może być loginem</li>
        <li>nie może posiadać spacji</li>
        <li>nie może posiadać dwóch tych samych znaków obok siebie.</li>
        <li>nie może zaczynać się znakiem szczególnym ($, %, !, etc.)</li>
      </ul>
    </div>

    <p class="top10">Jeśli nadal nie możesz się zalogować, podaj swoją nazwę użytkownika aby zresetować hasło.</p>
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      if (Request.HttpMethod == "POST")
      {
        if (!ViewData.ModelState.IsValid)
        {
          <div class="callout alert text-left">
            @ValSummary
          </div>
        }
      }
      <label>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(u => u.Email, new { type = "text", required = "required", placeholder = "Email" })
      </label>
      <div class="btn-panel">
        <button class="button secondary small" type="button" onclick="location.href='@Url.Action( "Index", "Home" )'">Wróć</button>
        <button type="submit" class="button small blue-btn">Dalej</button>

      </div>
    }
  </div>
</div>


