﻿@model Blogat.Models.Account.LoginUserViewModel
@{
  ViewBag.Title = "Zaloguj się";
  Layout = "~/Views/Shared/AccountLayout.cshtml";
}


<h4>Login</h4>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  if (Request.HttpMethod == "POST")
  {
	if (!ViewData.ModelState.IsValid)
	{
      <div class="callout alert text-left">
        @Html.ValidationSummary()
      </div>
	}
  }
  <div>
    @Html.TextBoxFor(u => u.Nick, new { type = "text", required = "required", placeholder = "User name" })
  </div>
  <div>
    @Html.PasswordFor(u => u.Password, new { required = "required", placeholder = "Password" })
  </div>

  <img class="captcha" src="@Url.Action("Index","Captcha")" />
 
  @Html.TextBoxFor(u => u.Captcha, new { type = "text", required = "required", placeholder = "Captcha" })

  <a href="@Url.Action("ForgotPassword")"><i class="fa fa-unlock-alt"></i>Forgot password?</a>

  <button type="submit" class="button small blue-btn">Log in</button>

}
