﻿@model Blogat.Models.Account.ForgotPasswordViewModel
@{
  ViewBag.Title = "Zmień hasło";
  Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="maincontent">
  <div class="form-wrapper">

    <h4 class="sub-title">Check your email</h4>
    <p class="top10">
      Confirmation link has been send to your email.
      
    </p>
  </div>
</div>


