﻿@model Blogat.Models.Account.RegisterUserViewModel
@{
  ViewBag.Title = "Zaloguj się";
  Layout = "~/Views/Shared/AccountLayout.cshtml";
}


<h4>Register </h4>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, null))
{
  @Html.AntiForgeryToken()
  if (Request.HttpMethod == "POST")
  {
	if (!ViewData.ModelState.IsValid)
	{
      <div class="callout alert text-left">
        @Html.ValidationSummary()
      </div>
	}
  }
  <div>
    @Html.TextBoxFor(u => u.Nick, new { type = "text", required = "required", placeholder = "User nickname" })
  </div>
  <div>
    @Html.TextBoxFor(u => u.Email, new { required = "required", placeholder = "Email" })
  </div>
  <div>
    @Html.PasswordFor(u => u.Password, new { required = "required", placeholder = "Password" })
  </div>
  <div>
    @Html.PasswordFor(u => u.RepeatPassword, new { required = "required", placeholder = "Repeat password" })
  </div>


  <img class="captcha" src="@Url.Action("Index","Captcha")" />

  @Html.TextBoxFor(u => u.Captcha, new { type = "text", required = "required", placeholder = "Captcha" })


  <a class="blue-text" href="@Url.Action("ForgotPassword")"><i class="fa fa-unlock-alt"></i>Forgot Password?</a><br>
  <span>Already a member? try to </span><a class="blue-text" href="@Url.Action("LogIn")"><i class="fa fa-unlock-alt"></i>log in.</a>

  <button type="submit" class="button small blue-btn">Zaloguj</button>

}
