﻿@model Blogat.Models.Account.ForgotPasswordViewModel
@{
  ViewBag.Title = "Zmień hasło";
  Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="maincontent">
  <div class="form-wrapper">

    <h4 class="sub-title">Sprawdź swojego maila.</h4>
    <p class="top10">
      Link ze zmianą hasła został wysłany na twojego maila. <br>
      Wykonaj przedstawione w nim pelecenia aby dokończyć ten etap.<br>
      Jeśli nie widzisz swojej wiadomości w odebranych, zajrzyj do katalogu spam.<br>
      Jeśli dalej nie możesz się zalogować, skontaktuj się z Administratorem.<br>
    </p>
  </div>
</div>


