﻿@using Common.Security;
@using Common.Helpers;
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/foundation/styles")
  @Styles.Render("~/custom/styles")
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
@{
	BlogatIdentity User = HttpContext.Current.User.Identity as BlogatIdentity;
	object header = "";
	TempData.TryGetValue("header", out header);
}

<body>
  <div class="grid-container blogat-container">
    <div class="grid-x">
      <div class="cell small-10 float-center">

        <div class="grid-x">
          <div class="cell small-12 text-center medium-text-left float-center">
            <a id="logo" href="@Url.Action("Index","Home")">
              BLOG<span id="at">@@</span>
            </a>
          </div>
        </div>
        <div class="padding-1 breadcrumb">
          <a href="@Url.Action("Index","Home")">
            <i class="fas fa-home"></i>
          </a>
          @RenderSection("Breadcrumb", false)
        </div>
        <div class="grid-x margin-top-1">
          <div class="cell hide-for-small-only medium-4 large-3">
            <div class="blogat-panel">
              <a href="@Url.Action("Index","Dashboard")">
                <div class="menu-item">
                  <div class="menu-item-inner">
                    <i class="fas fa-bars"></i>
                    <span class="menu-text">Dashboard</span>
                  </div>
                </div>
              </a>
              @if (HttpContext.Current.User.IsInRole("Admin"))
			  {
				  <a href="@Url.Action("Index","Message")">
					<div class="menu-item">
					  <div class="menu-item-inner">
						<i class="far fa-envelope"></i>
						<span class="menu-text">Messages</span>
					  </div>
					</div>
				  </a>
			  }
			  else
			  {
                <a href="@Url.Action("Index","Contact")">
                  <div class="menu-item">
                    <div class="menu-item-inner">
                      <i class="fas fa-phone-volume"></i>
                      <span class="menu-text">Contact</span>
                    </div>
                  </div>
                </a>
			  }
              <a href="@Url.Action("Index","About")">
                <div class="menu-item">
                  <div class="menu-item-inner">
                    <i class="fas fa-user"></i>
                    <span class="menu-text">About</span>
                  </div>
                </div>
              </a>
              @if (User?.IsAuthenticated ?? false)
			  {
                <a href="@Url.Action("Logout","Account")">
                  <div class="menu-item">
                    <div class="menu-item-inner">
                      <i class="fas fa-sign-out-alt"></i>
                      <span class="menu-text">Log Out</span>
                    </div>
                  </div>
                </a>
			  }
			  else
			  {
                <a href="@Url.Action("Login","Account")">
                  <div class="menu-item">
                    <div class="menu-item-inner">
                      <i class="fas fa-sign-in-alt"></i>
                      <span class="menu-text">Log In</span>
                    </div>
                  </div>
                </a>
                <a href="@Url.Action("Register","Account")">
                  <div class="menu-item">
                    <div class="menu-item-inner">
                      <i class="fas fa-feather-alt"></i>
                      <span class="menu-text">Register</span>
                    </div>
                  </div>
                </a>
			  }

            </div>

            <!--    <div class="blogat-panel">
			<span class="padding-0"><i class="fas fa-cookie-bite"></i> </span>
			<span>Blogat uses cookies to store your personal data.</span>

		  </div>-->
          </div>
          <div class="cell small-12 medium-8 large-9">
            <div class="margin-horizontal-2">
              @RenderBody()
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer>

      <span>&#9400; @DateTime.UtcNow.Year Blogat</span>
  </footer>
    @Scripts.Render("~/foundation/scripts")
    @Scripts.Render("~/custom/scripts")

    <script>
	  $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
