﻿
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/foundation/styles")
  @Styles.Render("~/custom/styles")
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <style>
	body{
	  background:none;
	}
  </style>
</head>
<body>
  <div class="grid-y">
    <div class="grid-x account-content margin-top-3">

      <div class="cell text-justify">

        <div class="row callout primary padding-2">
          @RenderBody()
        </div>
      </div>
    </div>
  </div>

  @RenderSection("scripts", required: false)

</body>
</html>
