﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Error</title>
  <link rel="stylesheet" href="Content/error.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  <div class="error-container">

      <h1> WOAH?!  </h1>
      <table align="center">
        <tr>
          <td>
            <h1><i class="fas fa-exclamation-circle"></i></h1>
          </td>
          <td>

            <h3> An error occurred while processing your request.</h3>
            <h3>If this error persists please inform Us about it.</h3>
          </td>
        </tr>
      </table>

    <div class="error-pikachu">

    </div>
  </div>
</body>
</html>
