﻿@using Common.Enums;
@using Blogat.Models.Post;
@using Common.Security;
@model PostModel
@{

	bool IsAdmin = HttpContext.Current.User.IsInRole("Admin");
	bool IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
	string CommentIconClass;
	int? CommentsCount = Model.Comments?.Count;
	switch (CommentsCount)
	{

	  case null:
		CommentIconClass = null;
		break;
	  case 0:
		CommentIconClass = "fas fa-plus";
		break;
	  case 1:
		CommentIconClass = "far fa-comment";
		break;
	  default:
		CommentIconClass = "far fa-comments";
		break;
	}
	string PostLink = Model.Settings.Mode == CommentsMode.ToggleDisabled ? Url.Action("Index", "Post", new { PostId = Model.PostId }) : "";
	string commentDescriptor = (CommentsCount == 0 ? "No" : CommentsCount.ToString()) + " comment" + (CommentsCount == 1 ? "" : "s");
}
<style>
</style>
<div data-location="@Url.Action("Index", "Post", new { PostId = Model.PostId })" class="blogat-panel">


  @if (IsAdmin && Model.Settings.IsEditable)
  {
    <button type="button" class="blogat-edit-button" onclick="document.location = '@Url.Action("Edit", new { Model.PostId})'">Edit</button>
  }

  @if (Model.PostedAt.HasValue)
  {
    <div class="blogat-panel-heading">
      @Model.Title
      <span class="post-date">
        @(((DateTime)Model.PostedAt).ToShortDateString())
      </span>
    </div>
  }

  @if (!string.IsNullOrEmpty(Model.Content.ToString()))
  {
    <div class="blogat-panel-text">
      @Model.Content
    </div>
  }

  @if (Model.Settings.Mode != CommentsMode.HideCommands)
  {
    <div class="comments-container">
      @if (Model.Settings.Mode != CommentsMode.CommentsDisabled)
	  {
        <div class="comments-descriptor noselect">
          <i class="@CommentIconClass"></i>
          @commentDescriptor


        </div>
		if (Model.Settings.Mode == CommentsMode.ToggleEnabled)
		{
          <div class="comments-list">

            @foreach (var comment in Model.Comments)
			{
              <div class="comment-container">
                <div class="comment-header">
                  @comment.Author
                  <div class="comment-date">
                    @(((DateTime)comment.CreatedAt).ToShortDateString())
                  </div>
                </div>
                <div class="comment-text">
                  @comment.Text
                </div>
                <div class="display-inline-block float-right">
                </div>
              </div>
			}
            @if (IsAuthenticated)
			{

			  using (Html.BeginForm("AddComment", "Post", FormMethod.Post, null))
			  {

                <label>
                  New Comment:
                  @(Model.Content = new MvcHtmlString(""))
                  <textarea name="CommentContent"></textarea>
                  @Html.HiddenFor(x => x.PostId)
                  <input type="text" class="hide" value="1" />
                </label>
                <input type="submit" value="Submit" />
			  }
			}
			else
			{
              <table>
                <tr>
                  <td>
                    <span class="comment-auth-info-icon">
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </td>
                  <td class="width-100">
                    <span class="comment-auth-info ">
                      @if ((CommentsCount ?? 0) > 0)
					  {
                        <span>If you want to participate in this disscussion,</span>
					  }
					  else
					  {

                        <span>For this to work,</span>
					  }
                      <span>you need to</span>
                      <a href="@Url.Action("Login","Account")">Log In</a>.

                      <br>
                      Not yet a Blogat member? <a href="@Url.Action("Register","Account")">Join us!</a>.

                    </span>

                  </td>

                </tr>

              </table>
			}

          </div>
		}
	  }
	  else
	  {
        <i class="fas fa-comment-slash">Comments disabled</i>

	  }


    </div>
  }
</div>

